<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0LN60RQ12K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-0LN60RQ12K');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UAP Immo Plateforme webmarketing immobilière">
    <meta name="author" content="UAP Immo">
    <meta name="theme-color" content="#8781D2"> 
    <title>UAP Immo | Home</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">        
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/templatemo-topic-listing.css" rel="stylesheet">    
    <style>
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
        .navbar {
            background-color: #8781D2; 
        }
        .section {
            scroll-margin-top: 77px; 
        }
        .section-top-margin {
            margin-top: 70px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .justify-content-center {
        margin-top: 40px;
        }   
        .custom-block-image {
            object-fit: contain; 
            height: auto;
        }
        @media (max-width: 767px) {
            .section-top-margin {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .h1, .h2 {
                font-size: 1.5rem;
            }
        }
        .h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }
        .h2 {
            font-size: 2rem;
            margin-bottom: 60px;
        }
        .custom-block-image {
            object-fit: contain; /* Ajustez selon vos besoins */
            height: auto;
        }
    </style>
</head>
<body id="top">
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <i class="bi-back"></i>
                    <span>UAP Immo</span>
                </a>
                <div class="d-lg-none ms-auto me-4">
                    <a href="/login" class="navbar-icon bi-person smoothscroll"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#fonctionnement">Fonctionnement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#processus">Processus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#faq">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/#contact">Contact</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-block">
                        <a href="/login" class="navbar-icon bi-person smoothscroll">
                            <span class="visually-hidden">Login</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>     

        <section class="section-top-margin">
            <div class="container">
                <h1 class="text-center">Plateforme de Webmarketing Immobilier</h1>
                <h2 class="text-center"></h2>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block bg-white shadow-lg">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mb-2">Simplifiez votre marketing immobilier</h5>
                                        <p class="mb-0">Générez des landing pages en quelques clics.</p>
                                    </div>
                                </div>
                               <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="" width="600" height="400">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="custom-block custom-block-overlay">
                            <div class="d-flex flex-column h-100">
                                <img src="images/fonctionnement de la plateforme webmarketing uap immo.webp" class="custom-block-image img-fluid" alt="Fonctionnement de la plateforme de webmarketing UAP Immo" width="800" height="600">
                                <div class="custom-block-overlay-text d-flex">
                                    <div>
                                        <h2 class="text-white mb-2">Maximisez vos conversions</h2>
                                        <p class="text-white">Atteignez votre audience avec des publicités ciblées.</p>
                                    </div>
                                </div>
                                <div class="section-overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                  
        <section class="explore-section section-padding" id="fonctionnement">
            <div class="container">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Fonctionnement de la plateforme</h2>
                </div>
            </div>
       

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                            <div class="d-flex">
                                                <div>
                                                    <h4 class="mb-2">Inscription à la plateforme</h4>
                                                    <p class="mb-0">Inscrivez-vous et entrez les détails du bien.</p>
                                                </div>
                                            </div>
                                            <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                                     
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                      
                                            <div class="d-flex">
                                                <div>
                                                    <h4 class="mb-2">Génération automatique de la landing page</h4>
                                                    <p class="mb-0">Une fois les informations et les photos renseignées, l'URL de la lanfing page est immédiatement disponible dans votre espace personnel.</p>
                                                </div>
                                            </div>
                                            <img src="images/topics/undraw_Redesign_feedback_re_jvm0.png" class="custom-block-image img-fluid" alt="" width="600" height="400">                                   
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                      
                                            <div class="d-flex">
                                                <div>
                                                    <h4 class="mb-2">Sélection de la page et paiement</h4>
                                                    <p class="mb-0">Choisissez la landing page que vous souhaitez promouvoir, puis payez en toute sécurité par carte bancaire. C'est aussi simple que cela pour lancer votre campagne de publicité.</p>
                                                </div>
                                            </div>
                                            <img src="images/topics/colleagues-working-cozy-office-medium-shot.png" class="custom-block-image img-fluid" alt="" width="600" height="400">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>
        <section class="timeline-section section-padding" id="processus">
            <div class="section-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white mb-4">Processus simplifié en trois étapes</h2>
                    </div>
                    <div class="col-lg-10 col-12 mx-auto">
                        <div class="timeline-container">
                            <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                <div class="list-progress">
                                    <div class="inner"></div>
                                </div>
                                <li>
                                    <h4 class="text-white mb-3">Inscription à la plateforme UAP Immo</h4>
                                    <p class="text-white">Commencez par vous inscrire sur notre plateforme en quelques minutes. Remplissez simplement les informations du bien immobilier que vous souhaitez vendre et téléchargez les photos correspondantes.</p>
                                    <div class="icon-holder">
                                        <i class="bi-search"></i>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="text-white mb-3">Génération automatique de la landing page</h4>
                                    <p class="text-white">Après avoir entré les détails et les photos, notre système génère instantanément une landing page de qualité professionnelle. Cette page est immédiatement accessible via une URL personnalisée ajoutée à votre espace utilisateur.</p>
                                    <div class="icon-holder">
                                        <i class="bi-bookmark"></i>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="text-white mb-3">Séléction de la page et paiement</h4>
                                    <p class="text-white">Une fois votre landing page créée, sélectionnez-la pour votre campagne publicitaire ciblée. Réglez facilement et en toute sécurité via notre système de paiement par carte bancaire, vous permettant de commencer rapidement à attirer des prospects qualifiés.</p>
                                    <div class="icon-holder">
                                        <i class="bi-book"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 text-center mt-5">
                        <p class="text-white">
                            Prêt à démarrer votre campagne de webmarketing immobilier ?
                            <a href="/login" class="btn custom-btn custom-border-btn ms-3">Commencez dès maintenant</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
                 <section class="faq-section section-padding" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h2 class="mb-4">FAQ</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-5 col-12">
                        <img src="images/uap immo faq plateforme webmarketing immobiliere.webp" class="custom-block-image img-fluid" alt="Fonctionnement de la plateforme de webmarketing UAP Immo" width="600" height="400">
                    </div>
                    <div class="col-lg-6 col-12 m-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Qu'est-ce que la plateforme UAP Immo ?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                UAP Immo est une plateforme de webmarketing immobilier haut de gamme qui simplifie votre marketing en vous permettant de <strong>générer des landing pages</strong> en quelques clics pour maximiser vos conversions à travers des publicités ciblées.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Comment fonctionne la plateforme ?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Notre plateforme UAP Immo simplifie la <strong>création de landing pages professionnelles </strong>pour vos biens immobiliers. Il vous suffit de remplir les détails de votre bien et télécharger les photos, puis notre système génère automatiquement une page accessible via une URL personnalisée, prête pour votre campagne publicitaire ciblée.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Quels moyens de paiement sont acceptés ?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Actuellement, nous acceptons les paiements par cartes bancaires et prévoyons d'intégrer prochainement les paiements en cryptomonnaies pour offrir plus de flexibilité à nos utilisateurs.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <section class="contact-section section-padding section-bg" id="contact">
            <div class="container">
                <div class="row">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Contact</h2>
                        </div>
                        <div class="col-lg-6 col-12">
                            <form action="#" method="post" class="custom-form contact-form" role="form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="">
                                            <label for="floatingInput">Nom</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required="">
                                            <label for="floatingInput">Adresse mail</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="subject" id="name" class="form-control" placeholder="Name" required="">
                                            <label for="floatingInput">Objet</label>
                                        </div>
                                        <div class="form-floating">
                                            <textarea class="form-control" id="message" name="message" placeholder="Tell me about the project"></textarea>
                                            <label for="floatingTextarea">Votre message</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-12 ms-auto">
                                        <button type="submit" class="form-control">Envoyer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="index.html">
                        <i class="bi-back"></i>
                        <span>UAP Immo</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Informations</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item"><a href="#" class="site-footer-link">Home</a></li>
                        <li class="site-footer-link-item"><a href="#" class="site-footer-link">Mon espace</a></li>
                        <li class="site-footer-link-item"><a href="#" class="site-footer-link">Créer un compte</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Accès</h6>
                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">Contact</a>
                    </p>
                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            contact@uap.immo
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <% if (i18n.getLocale() === 'en') { %>
                                English
                            <% } else { %>
                                Français
                            <% } %>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/?lang=en">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/?lang=fr">Français</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024 UAP Company. All rights reserved.</p>                  
            </div>
        </div>
    </footer>
<script src="js/jquery.min.js" defer></script>
<script src="js/bootstrap.bundle.min.js" defer></script>
<script src="js/jquery.sticky.js" defer></script>
<script src="js/click-scroll.js" defer></script>
<script src="js/custom.js" defer></script>
</body>
</html>
