<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0LN60RQ12K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-0LN60RQ12K');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UAP Immo Plateforme webmarketing immobilière">
    <meta name="author" content="UAP Immo">
    <title>UAP Immo | Home</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">        
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/templatemo-topic-listing.css" rel="stylesheet">    
    <style>
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
        .navbar {
            background-color: #8781D2; 
        }
        .section-top-margin {
            margin-top: 70px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .justify-content-center {
            margin-top: 40px;
        }    
        @media (max-width: 767px) {
            .section-top-margin {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .h1, .h2 {
                font-size: 1.5rem;
            }
        }
        .h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }
        .h2 {
            font-size: 2rem;
            margin-bottom: 60px;
        }
    </style>
</head>
<body id="top">
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <i class="bi-back"></i>
                    <span>UAP Immo</span>
                </a>
                <div class="d-lg-none ms-auto me-4">
                    <a href="/login" class="navbar-icon bi-person smoothscroll"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_1">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_3">Fonctionnement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_5">Contact</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-block">
                        <a href="/login" class="navbar-icon bi-person smoothscroll">
                            <span class="visually-hidden">Login</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>     

        <section class="section-top-margin">
            <div class="container">
                <h1 class="text-center">Plateforme de Webmarketing Immobilier</h1>
                <h2 class="text-center"></h2>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block bg-white shadow-lg">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mb-2">Simplifiez votre marketing immobilier</h5>
                                        <p class="mb-0">Générez des landing pages en quelques clics.</p>
                                    </div>
                                </div>
                                <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="" loading="lazy">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="custom-block custom-block-overlay">
                            <div class="d-flex flex-column h-100">
                                <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="" loading="lazy">
                                <div class="custom-block-overlay-text d-flex">
                                    <div>
                                        <h2 class="text-white mb-2">Maximisez vos conversions</h2>
                                        <p class="text-white">Atteignez votre audience avec des publicités ciblées.</p>
                                    </div>
                                </div>
                                <div class="section-overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                  
        <section class="explore-section section-padding" id="section_2">
            <div class="container">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Fonctionnement de la plateforme</h2>
                </div>
            </div>
       

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                            <div class="d-flex">
                                                <div>
                                                    <h4 class="mb-2">Inscription à la plateforme</h4>
                                                    <p class="mb-0">Inscrivez-vous et entrez les détails du bien.</p>
                                                </div>
                                            </div>
                                            <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="" loading="lazy">
                                     
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                      
                                            <div class="d-flex">
                                                <div>
                                                    <h4 class="mb-2">Génération automatique de la landing page</h4>
                                                    <p class="mb-0">Une fois les informations et les photos renseignées, l'URL de la lanfing page est immédiatement disponible dans votre espace personnel.</p>
                                                </div>
                                            </div>
                                            <img src="images/topics/undraw_Redesign_feedback_re_jvm0.png" class="custom-block-image img-fluid" alt="" loading="lazy">
                                   
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                      
                                            <div class="d-flex">
                                                <div>
                                                    <h4 class="mb-2">Sélection de la page et paiement</h4>
                                                    <p class="mb-0">Choisissez la landing page que vous souhaitez promouvoir, puis payez en toute sécurité par carte bancaire. C'est aussi simple que cela pour lancer votre campagne de publicité.</p>
                                                </div>
                                            </div>
                                            <img src="images/topics/colleagues-working-cozy-office-medium-shot.png" class="custom-block-image img-fluid" alt="" loading="lazy">
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>
        <section class="timeline-section section-padding bg-light" id="section_3">
            <div class="container">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Suivi de vos demandes</h2>
                </div>
            </div>
 </section>
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.linkedin.com/company/uapimmo" target="_blank"><i class="bi-linkedin"></i></a></li>
                                <li><a href="https://www.facebook.com/uapimmo" target="_blank"><i class="bi-facebook"></i></a></li>
                                <li><a href="https://www.twitter.com/uapimmo" target="_blank"><i class="bi-twitter"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/mentionslegales">Mentions légales</a></li>
                                <li><a href="/cgu">CGU</a></li>
                                <li><a href="/confidentialité">Confidentialité</a></li>
                            </ul>
                        </div>
                        <div class="footer-text">
                            <p>&copy; 2023 UAP Immo. Tous droits réservés.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/templatemo-script.js"></script>
</body>
</html>
