<!DOCTYPE html>
<html lang="<%= locale || 'fr' %>">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= typeof title !== 'undefined' ? title : 'UAP Immo' %></title>

  <% if (typeof head !== 'undefined') { %>
    <%- head %>
  <% } %>
</head>
<body>

  <%- body %>

</body>
</html>
