<!DOCTYPE html>
<html lang="<%= locale || 'fr' %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= typeof title !== 'undefined' ? title : 'UAP Immo' %></title>

  <!-- CSS commun -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles-main.css">

  <% if (typeof head !== 'undefined') { %>
    <%- head %>
  <% } %>
</head>
<body>

  <!-- NAVBAR ici si tu veux -->

  <!-- Contenu injecté -->
  <%- body %>

  <!-- FOOTER ici si tu veux -->

  <!-- JS commun -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/custom.js"></script>
</body>
</html>
