<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Politique de confidentialité de UAP Immo">
    <meta name="author" content="UAP Immo">
    <meta name="theme-color" content="#C4B990">
    <title>UAP Immo | Politique de confidentialité</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles-main.css">
    <style>
        .section {
            margin-top: 70px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .h2 {
            font-size: 2rem;
            margin-bottom: 60px;
        }
        .text-content {
            line-height: 1.6;
            margin-bottom: 30px;
        }
    </style>
</head>
<body id="top">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <span>UAP Immo</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#fonctionnement">Fonctionnement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#processus">Processus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#faq">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section class="section">
            <div class="container">
                <h2 class="text-center">Politique de confidentialité</h2>
                <div class="text-content">
                    <p>INTRODUCTION</p>
                    <p>UAP Immo s'engage à ce que la collecte et le traitement de vos données, effectués lors de l’adhésion ou en utilisant ses sites, soient conformes au Règlement général sur la protection des données du 14 avril 2016 (RGPD) et à la loi Informatique et Libertés du 6 janvier 1978.</p>
                    <p>Cette présente politique de confidentialité s’applique à toute personne soumettant des données à caractère personnel à UAP Immo.</p>
                    <p>La base des adhésions et les sites Internet www.uapimmo.com sont gérés par UAP Immo ayant son siège à [Adresse].</p>
                    <p>UAP Immo a nommé un délégué à la protection des données (DPO) que vous pouvez contacter par adresse postale à « UAP Immo - DPO, [Adresse] » ou bien à l’adresse e-mail dédiée : [email].</p>
                    <!-- Continue with the rest of your privacy policy content here -->
                </div>
            </div>
        </section>
    </main>

   <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="/">
                        <span>UAP Immo</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Informations</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item"><a href="/" class="site-footer-link">Home</a></li>
                        <li class="site-footer-link-item"><a href="/register" class="site-footer-link">Créer un compte</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Accès</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item"><a href="/contact" class="site-footer-link">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Français</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024 UAP Company. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script defer src="/js/jquery.min.js"></script>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
